<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>KO_SimpleFill</string>
	<key>CFBundleIdentifier</key>
	<string>net.yama-ko.KO-SimpleFill</string>
	<key>CFBundleName</key>
	<string>KO SimpleFill</string>
	<key>CFBundlePackageType</key>
	<string>eFKT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>FXTC</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
